body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color:#2E8B57;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  #title {
    font-size: 24px;
  }
  
  #description {
    font-size: 16px;
  }
  
  #survey-form {
    background-color: #9DC183;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .radio-group label,
  .checkbox-group label {
    display: block;
  }
  
  button[type="submit"] {
    background-color:#2E8B57;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }